<footer id="footer">
    <p class="follow-txt">FOLLOW US@
        <span style="color: #bfae62;">CGTN</span> ON：</p>
    <div class="follow-icons">
        <a href="//www.cgtn.com/socialmedia/facebook">
            <span class="icon-fb"></span>
        </a>
        <a href="//www.cgtn.com/socialmedia/twitter">
            <span class="icon-twitter"></span>
        </a>
        <a href="//www.cgtn.com/socialmedia/youtube">
            <span class="icon-youtube"></span>
        </a>
        <a href="//www.cgtn.com/socialmedia/instagram">
            <span class="icon-ins"></span>
        </a>
        <a href="//www.cgtn.com/socialmedia/googleplus">
            <span class="icon-google"></span>
        </a>
        <a href="//www.cgtn.com/socialmedia/pinterest">
            <span class="icon-pin"></span>
        </a>
        <a href="//www.cgtn.com/socialmedia/tumblr">
            <span class="icon-tumblr"></span>
        </a>
        <span class="icon-wechat" id="icon_wechat"></span>
        <a href="//www.cgtn.com/socialmedia/weibo">
            <span class="icon-wb"></span>
        </a>
        <a href="//www.cgtn.com/socialmedia/miaopai">
            <span class="icon-miaopai"></span>
        </a>

        <img id="cctv_qr" class="cctv-qr hide transition" src="images/cv-wechat.jpg" alt="QR">
    </div>
    <div class="logo-wrap">
        <img class="footer-logo" src="images/footer-logo@2x.jpg" alt="Logo">
    </div>
    <div class="copy-right">
        Copyright © 2017 CGTN. Beijing ICP prepared NO.16065310-3
    </div>
</footer>